@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&#39');
    
.comidas{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    padding: 30px;
}
.comida{
    text-align: center;
}
.img_comida{
    margin: 30px;
}
.titulo{
    font-size: 40px;
    font-family: 'Montserrat';
}
.pergunta{
    font-size: 20px;
    font-family: 'Montserrat';
}
.p{
    font-size: 30px;
    font-family: 'Montserrat';
}
.comidass{
    background: none;
}
h3{
    font-size: 20px;
    font-family: Montserrat;
}